<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="javascript:void(0);">
      {{ 'app_title' | translate }}
    </a>
    <!--This does not seem to work. Need to check out-->
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="toggleMenu()"
      [attr.aria-expanded]="!isCollapsed"
    >
      <span class="navbar-toggler-icon"></span>Toggle
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown" [ngbCollapse]="isCollapsed">
      <!-- left menu -->
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            {{ 'app_nav_home' | translate }}
          </a>
        </li>

        <li class="nav-item dropdown">
          <div ngbDropdown class="d-inline-block">
            <a href="javascript:void(0);" class="nav-link" id="dropdownBasic4" ngbDropdownToggle>Shop</a>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic4">
              <a *ngFor="let route of eCommerceRoutes" routerLink="ecommerce/{{ route.path }}" class="dropdown-item">{{
                route.data.displayText
              }}</a>
            </div>
          </div>
        </li>

        <li class="nav-item active">
          <a class="nav-link" routerLink="/examples" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"> Examples </a>
        </li>
      </ul>

      <!-- right menu -->
      <ul class="navbar-nav ml-auto">
        <!-- language dropdwon -->
        <li class="nav-item dropdown">
          <!-- https://ng-bootstrap.github.io/#/components/dropdown/examples -->
          <div ngbDropdown class="d-inline-block">
            <!-- https://stackoverflow.com/questions/1291942/what-does-javascriptvoid0-mean -->
            <!-- The result is `undefined` and the browser stays on the same page.
            void(0) is just a short and simple script that evaluates to undefined. -->
            <a href="javascript:void(0);" class="nav-link" id="dropdownBasic2" ngbDropdownToggle>{{ currentCulture?.text }}</a>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
              <!-- NgForm implicitly active in all form tags, add ngNoForm if not required -->
              <form
                *ngFor="let c of cultures"
                action="/api/app/setlanguage?culture={{ c.value }}"
                method="post"
                class="culture-form"
                ngNoForm
                [class.active]="c.current"
              >
                <button id="{{ c.value }}" name="culture" value="{{ c.value }}" type="submit" class="dropdown-item">{{ c.text }}</button>
              </form>
            </div>
          </div>
        </li>

        <app-login-menu></app-login-menu>
      </ul>
    </div>
  </nav>
</header>
